.lorem{
    background-color: rgba(12, 84, 96, 0.69);
    color: #000;
}
@media all and (max-width: 500px) {
   body{background-color: #2e3133}
}

@media (min-height: 680px), screen and (orientation: portrait) {
    .lorem{
        background-color: #9fcdff;
    }
}

.background-jumbo {
    background-image: url(../img/background.jpg);
}

.button-cust {
    background-color: greenyellow;
    border-radius: -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.center-white-text{
    text-align: center; 
    color: white;
}