.lorem{
    background-color: rgba(12, 84, 96, 0.69);
    color: #000;
}
@media all and (max-width: 500px) {
   body{background-color: #2e3133}
}

@media (min-height: 680px), screen and (orientation: portrait) {
    .lorem{
        background-color: #9fcdff;
    }
}

.background-jumbo {
    background-image: url(../img/background.jpg);
}

.button-cust {
    background-color: greenyellow;
}
.center-white-text{
    text-align: center; 
    color: white;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}